body {
    background-color: #ECF4D6;
    text-align: center;
  }

  header {
    background: #265073;
    text-align: center;
  }

  h1 {
    color: #ECF4D6; 
    font: small-caps bold sans-serif;
  }

  h3 {
    color: #265073;
    font: small-caps bold sans-serif;
  }

  a {
    border: #2D9596; color: antiquewhite; 
    font: 1.2rem "Fira Sans", sans-serif;
  }

  button {
    background-color: #9AD0C2; 
    border-color: #265073;
  }

  button:active {
    background-color: #9AD0C2;
  }

  button:disabled {
    background-color: red;
  }

  div {
    font: 1.2rem "Fira Sans", sans-serif;
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: #265073;
    color:#ECF4D6;
    ;
  }